.guardianFullGrid{
    display:grid;
    justify-content: center;
    grid-template-columns: 300px 750px 300px;
    grid-template-rows: 80px 625px;
    color:white;
}
.mapTitleGuardian{
  grid-column: 1/span 3;
  grid-row: 1/span 1;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#guardianMap{
  grid-column: 2/span 1;
  grid-row: 2/span 1;
  background-image: url('./components/Halo3/BlueprintPics/Guardian2.png');
  background-repeat:no-repeat;
  background-color:black;
  border:1px solid white;
}
#guardianScreenShot{
  width: 250px;
  height:250px;
  border:1px solid white;
}
#guardianCallouts p{
  font-size: 1.8rem;
}

  @media only screen and (max-width: 1259px) {
    .guardianFullGrid{
      grid-template-columns:750px;  
  }
  #guardianMap{
    grid-column: 1/span 1;
  }
}
  @media only screen and (min-width: 1260px) and (max-width: 1450px) {
    .guardianFullGrid{
      grid-template-columns:150px 750px 150px;
    }
    #guardianCallouts p{
      font-size: 1rem;
    }
    #guardianScreenShot{
      width: 100px;
      height:100px;
      border:1px solid white;
    }
}
  @media only screen and (min-width: 1451px) and (max-width: 1650px) {
  .guardianFullGrid{
    grid-template-columns:300px 750px 300px;
  }
}
