.thePitFullGrid{
  display:grid;
  justify-content: center;
  grid-template-columns: 300px 750px 300px;
  grid-template-rows: 80px 625px;
  color:white;
}
.mapTitleThePit{
  grid-column: 1/span 3;
  grid-row: 1/span 1;
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#thePitMap{
  grid-column: 2/span 1;
  grid-row: 2/span 1;
  display:grid;
  background-image: url('./components/Halo3/BlueprintPics/ThePit.png');
  background-repeat:no-repeat;
  grid-template-columns: repeat(50,2%);
  grid-template-rows: repeat(50,2%);
  border:1px solid white;
}
#thePitScreenShot{
  width: 250px;
  height:250px;
  border:1px solid white;
}
#pitCallouts p{
  font-size: 1.5rem;
}
#firstBRLeft{
  grid-column:9/span 5;
  grid-row:40/span 2;
}
#secondBRLeft{
  grid-column:20/span 3;
  grid-row:38/span 2;
}
#secondBRLeftTwo{
  grid-column:21/span 2;
  grid-row:40/span 4;
}
#assaultLeft{
  grid-column:12/span 3;
  grid-row:28/span 3;
}
#backRampLeft{
  grid-column:11/span 1;
  grid-row:21/span 7;
}
#courtyardLeft{
  grid-column:11/span 5;
  grid-row:17/span 4;
}
#cutsLeft{
  grid-column:9/span 5;
  grid-row:31/span 3;
}
#flagLeft{
  grid-column:8/span 6;
  grid-row:34/span 5;
}
#greenBoxLeft{
  grid-column:20/span 3;
  grid-row:35/span 3;
}
#jumpUpLeft{
  grid-column:16/span 1;
  grid-row:32/span 2;
}
#maulerLeft{
  grid-column:8/span 2;
  grid-row:42/span 5;
}
#maulerLeftTwo{
  grid-column:10/span 3;
  grid-row:45/span 3;
}
#needlerLeft{
  grid-column:13/span 5;
  grid-row:46/span 2;
}
#needlerLeftTwo{
  grid-column:16/span 2;
  grid-row:44/span 2;
}
#needlerPitLeft{
  grid-column:13/span 4;
  grid-row:42/span 2;
}
#needlerPitLeftTwo{
  grid-column:13/span 3;
  grid-row:44/span 2;
}
#needlerRampLeft{
  grid-column:17/span 4;
  grid-row:43/span 1;
}
#pitLeft{
  grid-column:15/span 5;
  grid-row:26/span 6;
}
#pitLeftTwo{
  grid-column:17/span 4;
  grid-row:32/span 3;
}
#pitRampLeft{
  grid-column:20/span 1;
  grid-row:29/span 3;
}
#platformLeft{
  grid-column:14/span 2;
  grid-row:31/span 11;
}
#platformLeftTwo{
  grid-column:16/span 1;
  grid-row:35/span 6;
}
#snipeBridgeLeft{
  grid-column:8/span 2;
  grid-row:27/span 3;
}
#snipePocketLeft{
  grid-column:7/span 2;
  grid-row:24/span 2;
}
#streetLeft{
  grid-column:16/span 6;
  grid-row:20/span 6;
}
#streetLeftTwo{
  grid-column:22/span 1;
  grid-row:23/span 3;
}
#swordRampLeft{
  grid-column:17/span 4;
  grid-row:19/span 1;
}
#swordRampLeftTwo{
  grid-column:17/span 4;
  grid-row:7/span 2;
}
#swordWindowLeft{
  grid-column:22/span 3;
  grid-row:9/span 3;
}
#s1PitLeft{
  grid-column:13/span 3;
  grid-row:23/span 3;
}
#s2PitLeft{
  grid-column:9/span 1;
  grid-row:21/span 6;
}
#s2PitLeftTwo{
  grid-column:6/span 3;
  grid-row:22/span 2;
}
#s2PitLeftThree{
  grid-column:6/span 1;
  grid-row:22/span 6;
}
#s2PitLeftFour{
  grid-column:7/span 2;
  grid-row:26/span 1;
}
#trainingLeft{
  grid-column:21/span 1;
  grid-row:28/span 1;
}
#trainingLeftTwo{
  grid-column:21/span 1;
  grid-row:30/span 2;
}
#trainingLeftThree{
  grid-column:22/span 4;
  grid-row:28/span 4;
}
#trainingRampLeft{
  grid-column:20/span 5;
  grid-row:26/span 1;
}
#trainingPocketLeft{
  grid-column:21/span 1;
  grid-row:29/span 1;
}
#walshyLeft{
  grid-column:19/span 2;
  grid-row:42/span 1;
}

#firstBR{
  grid-column:38/span 5;
  grid-row:40/span 2;
}
#secondBR{
  grid-column:29/span 3;
  grid-row:38/span 3;
}
#secondBRTwo{
  grid-column:29/span 2;
  grid-row:41/span 3;
}
#assault{
  grid-column:37/span 3;
  grid-row:27/span 4;
}
#backRamp{
  grid-column:40/span 2;
  grid-row:21/span 7;
}
#courtyard{
  grid-column:36/span 6;
  grid-row:17/span 4;
}
#customOS{
  grid-column:25/span 3;
  grid-row:21/span 3;
}
#cuts{
  grid-column:39/span 4;
  grid-row:31/span 3;
}
#flag{
  grid-column:39/span 5;
  grid-row:34/span 5;
}
#greenBox{
  grid-column:30/span 3;
  grid-row:35/span 3;
}
#greenHall{
  grid-column:23/span 7;
  grid-row:35/span 2;
}
#jumpUp{
  grid-column:36/span 1;
  grid-row:33/span 1;
}
#longHallCamo{
  grid-column:23/span 6;
  grid-row:44/span 2;
}
#mauler{
  grid-column:43/span 1;
  grid-row:42/span 6;
}
#maulerTwo{
  grid-column:40/span 3;
  grid-row:44/span 4;
}
#maulerThree{
  grid-column:39/span 3;
  grid-row:46/span 2;
}
#midBridge{
  grid-column:24/span 4;
  grid-row:12/span 4;
}
#needler{
  grid-column:34/span 2;
  grid-row:44/span 4;
}
#needlerTwo{
  grid-column:36/span 3;
  grid-row:46/span 2;
}
#needlerPit{
  grid-column:35/span 4;
  grid-row:42/span 2;
}
#needlerPitTwo{
  grid-column:36/span 3;
  grid-row:44/span 2;
}
#needlerRamp{
  grid-column:31/span 4;
  grid-row:43/span 1;
}
#pit{
  grid-column:33/span 4;
  grid-row:26/span 6;
}
#pitTwo{
  grid-column:31/span 5;
  grid-row:32/span 1;
}
#pitThree{
  grid-column:31/span 4;
  grid-row:33/span 2;
}
#pitRamp{
  grid-column:32/span 1;
  grid-row:29/span 3;
}
#platform{
  grid-column:37/span 2;
  grid-row:31/span 11;
}
#platformTwo{
  grid-column:35/span 2;
  grid-row:34/span 8;
}
#rockets{
  grid-column:25/span 2;
  grid-row:37/span 2;
}
#runway{
  grid-column:21/span 11;
  grid-row:17/span 2;
}
#snipeBridge{
  grid-column:43/span 2;
  grid-row:27/span 3;
}
#snipePocket{
  grid-column:44/span 1;
  grid-row:24/span 1;
}
#street{
  grid-column:30/span 7;
  grid-row:20/span 6;
}
#sword{
  grid-column:24/span 5;
  grid-row:5/span 3;
}
#swordRamp{
  grid-column:31/span 4;
  grid-row:7/span 2;
}
#swordRampTwo{
  grid-column:31/span 4;
  grid-row:19/span 1;
}
#swordWindow{
  grid-column:28/span 2;
  grid-row:8/span 4;
}
#s1Pit{
  grid-column:37/span 3;
  grid-row:23/span 3;
}
#s2Pit{
  grid-column:42/span 2;
  grid-row:21/span 6;
}
#s2PitTwo{
  grid-column:44/span 2;
  grid-row:22/span 2;
}
#s2PitThree{
  grid-column:45/span 1;
  grid-row:24/span 3;
}
#s2PitFour{
  grid-column:44/span 1;
  grid-row:25/span 2;
}
#training{
  grid-column:27/span 5;
  grid-row:28/span 1;
}
#trainingTwo{
  grid-column:27/span 3;
  grid-row:29/span 3;
}
#trainingThree{
  grid-column:30/span 2;
  grid-row:30/span 2;
}
#trainingRamp{
  grid-column:27/span 6;
  grid-row:26/span 2;
}
#trainingPocket{
  grid-column:30/span 2;
  grid-row:29/span 1;
}
#walshy{
  grid-column:31/span 2;
  grid-row:42/span 1;
}






@media only screen and (max-width: 1259px) {
  .thePitFullGrid{
    grid-template-columns:750px;
}
  #thePitMap{
    grid-column: 1/span 1;
  }
}
@media only screen and (min-width: 1260px) and (max-width: 1450px) {
  .thePitFullGrid{
    grid-template-columns:200px 750px 150px;
  }
  #pitCallouts p{
    font-size: 1.1rem;
  }
  #thePitScreenShot{
    width: 100px;
    height:100px;
    border:1px solid white;
  }
}
@media only screen and (min-width:1451px) and (max-width: 1650px) {
  .thePitFullGrid{
    grid-template-columns:250px 750px 300px;
  }
  #pitCallouts p{
    font-size: 1.4rem;
  }
}