.constructFullGrid{
	display:grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 400px 750px 300px;
    grid-template-rows: 80px 725px;
    color:white;
}
.mapTitleConstruct{
	grid-column: 1/span 3;
	grid-row: 1/span 1;
	display:flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
  }
#constructMap{
    grid-column: 2/span 1;
    grid-row: 2/span 1;
    border:1px solid white;
    display:grid;
    background-image: url('../../utils/Construct/Construct.png');
    background-repeat:no-repeat;
    grid-template-columns: repeat(50,2%);
    grid-template-rows: repeat(50,2%);
	background-color: black;
}
#constructCallouts p{
	font-size:1.85rem;
}
#constructScreenShot{
	width:250px;
  height:250px;
	border:1px solid white;
}
@media only screen and (max-width: 1259px) {
	.constructFullGrid{
		grid-template-columns:750px;
	}
	#constructMap{
		grid-column: 1/span 1;
    background-image: url('../../utils/Construct/ConstructWithCallouts.png');
	}
}
@media only screen and (min-width: 1260px) and (max-width: 1450px) {
  .constructFullGrid{
    grid-template-columns:350px 750px;
  }
}
@media only screen and (min-width:1451px) and (max-width: 1650px) {
	.constructFullGrid{
	  grid-template-columns:300px 750px 300px;
	}
	#constructCallouts p{
		font-size:1.65rem;
	}
}